In [109]:
import pandas as pd
import numpy as np

In [128]:
df = pd.read_csv("dataframe/run2.csv",delimiter=',',sep=',',decimal=".", encoding="utf-8")
df

,Unnamed: 0,pulso.antes,pulso.despues,hace.deporte,fuma,genero,altura,peso,tipo.actividad
0,1,48,54,no,si,H,68.0,150,nula
1,2,54,56,no,si,H,69.0,145,moderada
2,3,54,50,no,no,H,69.0,160,moderada
3,4,58,70,si,no,H,72.0,145,moderada
4,5,58,58,no,no,H,66.0,135,intensa
...,...,...,...,...,...,...,...,...,...
87,88,92,94,no,si,H,69.0,150,moderada
88,89,94,92,no,si,M,62.0,131,moderada
89,90,96,140,si,no,M,61.0,140,moderada
90,91,96,116,si,no,M,68.0,116,moderada
91,92,100,115,si,si,M,63.0,121,moderada

In [111]:
len(df) #Cantidad de estudiantes PREGUNTA 1

93

In [112]:
df.head(5)

,ID,pulso_antes,pulso_despues,hace_deporte,fuma,genero,altura,peso,tipo_actividad
0,NaN,pulso.antes,pulso.despues,hace.deporte,fuma,genero,altura,peso,tipo.actividad
1,1.0,48,54,no,si,H,68,150,nula
2,2.0,54,56,no,si,H,69,145,moderada
3,3.0,54,50,no,no,H,69,160,moderada
4,4.0,58,70,si,no,H,72,145,moderada

In [134]:
df.groupby('genero').count() #Cuenta Hombres y mujeres, H 57 M 35 #preguntra 2

,Unnamed: 0,pulso.antes,pulso.despues,hace.deporte,fuma,altura,peso,tipo.actividad
genero,,,,,,,,
H,57,57,57,57,57,57,57,57
M,35,35,35,35,35,35,35,35

In [146]:
def variacion (d):
    df2 = np.mean((((d['pulso.despues']-d['pulso.antes'])/d['pulso.antes'])*100))
    return df2
    
df.groupby('hace.deporte').apply(variacion)

hace.deporte
no     0.209479
si    26.215407
dtype: float64

In [150]:
df3=df.loc[df.loc[:,'hace.deporte']=='si']
df3.groupby('genero').apply(variacion)

genero
H    19.176886
M    41.572181
dtype: float64

In [152]:
df3=df.loc[df.loc[:,'hace.deporte']=='no']
df3.groupby('fuma').apply(variacion)

fuma
no   -0.064761
si    0.912219
dtype: float64

In [153]:

df.groupby('tipo.actividad').apply(variacion)

tipo.actividad
intensa      1.347475
moderada    14.015695
nula        12.500000
suave        3.747241
dtype: float64